* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::selection {
    color: white;
    background: white;
}

body {
    background-color: white;
    max-width: 500px;
    margin: auto;
}

header {
    text-align: center;
    height: auto;
    margin: 2em 0em 2em 0em;
    padding: 40px;

}

header h1 {
    font-size: 35px;
    color: rgb(0, 162, 255);
}

header h2 {
    font-size: 25px;
    color: rgb(12, 7, 70);
}

header h3 {
    color: rgb(0, 162, 255);
}

header h4 {
    font-size: larger;
    color: rgb(12, 7, 70);
    font-weight: normal;
}